.recipe{
     margin-left:30%;
    width:800px;
    height: auto;
    padding-bottom:1rem;
background-image: url("https://static.vecteezy.com/system/resources/previews/003/498/690/non_2x/wood-texture-background-wood-planks-or-wood-wall-free-photo.jpg");
border-radius: 3rem;
margin-bottom:1.5rem;
}